/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

body {
	background: rgb(103, 103, 103);
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: white;
}

h2 {
	font-family: 'Alex Brush', cursive;
	color: white;
}

h3 {
	font-family: 'Raleway', sans-serif;
	color: white;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

em {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

h4 {
	color: white;
}



.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Style Tile for Amanda Zarzoza*/
.color-1 {
	background: rgb(31, 255, 221);
	border: solid white 2px;
}

.color-2 {
	background: rgb(0, 236, 255);
	border: solid white 2px;
}

.color-3 {
	background:  rgb(250, 128, 128);
	border: solid white 2px;
}

.pattern-1 {
	background: url("../img/wild_flowers.png");
	border: solid white 2px;
}

.pattern-2 {
	background: url("../img/flowers.png");
	border: solid white 2px;
}

.pattern-3 {
	background: url("../img/tree_bark.png");
	border: solid white 2px;
}

.imagery-1 {
	background: url("../img/purple_floral.png");
	border: solid white 2px;
}

.imagery-2 {
	background: url("../img/coral.png");
	border: solid white 2px;
}

.imagery-3 {
	background: url("../img/multi_floral.png");
	border: solid white 2px;
}






/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}